.fa-square-facebook{
    font-size: 50px;
    color: #1877f2;
}
.fa-square-instagram{
    font-size: 50px;
    color: #e1306c;
}
.fa-tiktok{
    font-size: 50px;
    color: black;
}
.fa-linkedin{
    font-size: 50px;
    color: #0a66c2;
}
.fa-square-whatsapp{
    font-size: 50px;
    color: #075e54;
}
.fa-square-github{
    font-size: 50px;
    color: #6e5495;
}
.fa-google-drive{
    font-size: 50px;
    color: #ea4335;
}