/* impotante la letra desde google */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    padding: 10px;
}

/* cambiamos el tipo de fuente */
.fuente1{
    font-family: Arial, Helvetica, sans-serif;
}

.fuente2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* agregamos estilo al parrafo */
/* Cursiva */
.fuente3{
    font-style: italic;
}
/* oblicuo */
.fuente4{
    font-style: oblique;
}
/* normal */
.fuente5{
    font-style: normal;
}
/* negrita */
.fuente6{
    font-weight: bold;
}
/* mas negrita */
.fuente7{
    font-weight: bolder;
}
/* smallcaps */
.fuente8{
    font-variant: small-caps;
}
/* fuente normal */
.fuente9{
    font-variant: normal;
}
/* tamaño de la fuente */
.fuente10{
    font-size: 30px;
}

/* llamando a las letras descargadas de internet */
@font-face {
    font-family: "RobotoMono";
    src: url("/fonts/RobotoMono-BoldItalic.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("/fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "BatmanFA";
    src: url("/fonts/batman/batmfa__.ttf");
}

@font-face {
    font-family: "Starjedi";
    src: url("/fonts/starjedi/Starjedi.ttf");
}

/* llamando a las letras importadas desde internet y las 
descargadas  */
/* importada de internet */
.fuente11{
    font-family: 'Dela Gothic One';
}
/* descargadas */
.fuente12{
    font-family: "RobotoMono";
}
.fuente13{
    font-family: "Pacifico";
}
.fuente14{
    font-family: "BatmanFA";
}
.fuente15{
    font-family: "Starjedi";
}