/* definimos el ancho y el alto de la etiqueta
esto se definen con valores numericos
expresados en pixeles px 
width==> ancho
height==>alto*/
.caja1{
    width: 800px;
    background-color: blue;
}

.caja2{
    height: 600px;
    background-color: green;
}